* {
  font-family: "0xProto Nerd Font";
}

window#waybar {
  background-color: transparent;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#mpd {
  padding: 0 10px;
  color: #ffffff;
}



.modules-left {
  background-color: rgba(26, 29, 16, 0.2);
  border-radius: 15;
}


.modules-right  {
  background-color: rgba(26, 29, 16, 0.4);
  border-radius: 15;
  border: 1px solid #ffd878;
}

#clock.time {
  color: #f8f4e8;
  padding: 0 0 0 10px;
  }

#clock.cal {
  color: #f8f4e8;
  padding: 0 10px;
border-right: 1px solid #f0d8b0;
}

#battery {
  color: #f0b060;
  padding: 0 15 0 10px;
}

#backlight {
  color: #ffe8a8;
  padding: 0 10px;
  border-right: 1px solid #f0d8b0;
}

#network {
  color: #e88860;
  padding: 0 8 0 10px;
}

#network.disconnected {
  color: #f06850;
}

#custom-mullvad {
  border-right: 1px solid #f0d8b0;
  padding: 0 10 0 10px;
}

#custom-mullvad.connected {
  color: #ffd878;
}

#custom-mullvad.disconnected {
  color: #f06850;
}

#pulseaudio {
  color: #ff9880;
  padding: 0 10px;
  border-right: 1px solid #f0d8b0;
}

#pulseaudio.muted {
  color: #f06850;
}
 
#workspaces {

}

#workspaces button {
  color: #b8b0a0;
  padding: 3 8px 
}

#workspaces button.active {
  color: #e8e4d8;
  background-color: rgba(26, 29, 16, 0.25);
  border-radius: 13;
  font-weight: bold;
  border: 1px solid #ffd878;
}

#workspaces button.occupied {
  color: #e8e4d8;
  font-weight: bold;
}


